*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}
body{
    color:black;
    background-color:#afafaf;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.link-text{
    display:none;
    margin-left:1rem;
}

.nav-link svg{
    max-width:2rem;
    margin:0 1.5rem;
}

.navbar:hover{
    width:16rem;
}
.navbar:hover .link-text{
    display:block;
}

.fa-primary{
    color:#f1d012;
    transition:var(--transition-speed);
}

.logo {
    font-weight:bold;
    margin-bottom:1rem;
    text-align: center;
    color: var(--text-secondary);
    font-size: 1.5rem;
    letter-spacing:0.3ch;
}

.logo svg{
    transform: rotate(0deg);
    transition:1s ease-in-out;
}

.navbar:hover .logo svg{
    transform: rotate(360deg);
}

.container, .review{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
/* TEMPLATE DE LA SECTION CENTRALE TODO */

#person-img{
    width:50%;
    
}
 
/* .title{
    justify-content: center;
} */




