body{
    margin: 0;
    background-color: rgb(46, 46, 46);
}

.boxform{
  display: flex;
  margin: 0 50px;
  padding:  20px;
  border:  1px solid black;
  justify-content: center;

  box-shadow: 5px 5px 5px 5px #cccccc;
  margin-top:  5%;
}

h1{
  text-align: center;
  margin-top: 10%;
}

 form {
    display: block;
    position: relative;
  }
 form .formulaire {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
  }
 form .formulaire .boxinput {
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
  }
 form .formulaire .boxinput input {
    width: 200px;
    height: 25px;
  }

.boxbutton{
  display: flex;
  margin: 0 auto;
  padding:  20px;
  justify-content: space-around;
  text-align: center;
}

 .buttonajout, .buttonsuppression{
    border: 1px solid black;
    width: 10px;
    height:10px;
    padding: 5px;
 }

 .buttonajout{
   background-color: seagreen;
 }

 .buttonsuppression{
   background-color: red;
 }


  